server {
  listen 80;
  listen [::]:80;
  server_name {{ client.domain }} www.{{ client.domain }};
  root /var/www/{{ client.username }};

  index index.php index.html;

  location ~ \.php$ {
  	try_files $uri =404;
  	fastcgi_pass unix:/run/php/php7.0-fpm.sock;
  	fastcgi_index index.php;
  	fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  	include fastcgi_params;
  }

  location / {
  	try_files $uri $uri/ /index.php?$query_string;
  }
}
